.intro-banner {
    // background: grey;
    display: flex;

    &__text-wrapper {
        display: flex;
        flex-direction: column;
        min-width: fit-content;
        padding-left: 2%;

        &__headline {
            &__name {
                margin: 12px 0;
            }
            &__desc1 {
                line-height: 2;
            }

            &__desc2 {
                line-height: 2;
            }
        }

        &__buttons {
            margin-top: 20px;
            display: flex;
            gap: 20px;

            &__button1 {
                background: #35509f;
                max-width: fit-content;
                padding: 5px 20px;
                border-radius: 5px;
                box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
            }

            &__button2 {
                outline: 2px solid #3d3d50;
                max-width: fit-content;
                padding: 5px 20px;
                border-radius: 5px;
                box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
            }
        }
    }

    &__graphic {
        width: 25%;
        margin-left: auto;

        img {
            object-fit: contain;
            width: 100%;
            height: 100%;
        }
    }
}

.blue-text {
    color: #5e6bad;
}

hr {
    width: 100%;
    color: #3d3d50;
}