.tech-icons {
    margin-top: 25px;
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
    padding: 0 50px;
    overflow: scroll;
    min-height: fit-content;
    
    &__container {
        
        display: flex;
        gap: 7px;
        align-items: center;
        background-color: #2a2b3d;
        padding: 5px 12px;
        border-radius: 5px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);

            &__icon {
                width: 25px;
                height: 25px;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
        }
    
}