$white: #ffffff;
$black: #000000;
$light-blue: #a49dde;
$gpt-blue: #98a9e2;
$purple: #7d71bd;
$pink: #e3a1d1;
$orangey-red: #c86bab;
$yellow: #fbe6d3;

$background-color: #1e2035;


$tablet-down: 'max-width: 768px';
$mobile-down: 'max-width: 460px';